---
layout: default
title: Error 404
bodyclass: page
scripts: '<script>function test(){alert("Al igual et creus que això funciona");}</script>'
permalink: 404.html
---
<div id="main" class="row">
  <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
    <div class="column nine">
      <article class="clear-after">
        <h2>Error 404 - Pàgina no trobada</h2>
        <p>El clàssic error 404, eh? Doncs ja saps... la pàgina que cercaves no existeix. De totes maneres, com has arribat fins aquí? Segur que has posat l'URL malament... En fi, torna'l a escriure, i aquesta vegada fes-ho bé!</p>
      </article>
    </div>
    <aside role="complementary" class="sidebar column three last">
      <div class="widget widget_search">
        <form role="search" onsubmit="test()">
          <span class="pre-input"><i class="icon icon-search"></i></span>
          <input type="text" placeholder="Això fa res?" value="" class="plain buffer">
        </form>
      </div>
      <div class="widget">
        <h4 style="color: #AB94E9;">Veig que t'has perdut...</h4>
        <div class="textwidget">
          Tinc la solució! Uneix-te a l'equip i fes uns LaTeX, i t'ensenyarem gratuïtament com funciona internet (i com no perdre't a una pàgina tan senzilla com la nostra <i class="em em-kissing_heart"></i>).
        </div>
      </div>
      <div class="widget">
        <h4 style="color: #AB94E9;">Si encara tens temps lliure...</h4>
        <ul class="plain">
          <li><a href="https://tauday.com/tau-manifesto">La superioritat de τ en comparació a π</a></li>
          <li><a href="https://www.loose-canon.info/Loose-Canon-1st-Ed.pdf">Torna a llegir el Loose Canon</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div>
