---
layout: default
title: ApuntsFIB
data: portfolio_fib
bodyclass: portfolio
copyright: '<br/>Icons designed by <a href="https://www.freepik.com">Freepik</a> and <a https://smashicons.com/>Smashicons</a> from <a href="https://www.flaticon.com">Flaticon</a>.'
---

<div id="intro-wrap" data-height="22.222">
  <div id="intro" class="preload darken">
    <div class="intro-item" style="background-image: url(/img/backgrounds/apunts-01.jpg);">
      <div class="caption">
        <h2>Els apunts de la FIB</h2>
        <p>If you’re any good at all, you should not be here.</p>
      </div>
    </div>
  </div>
</div>
{% include portfolio.html %}
