---
layout: default
title: Apunts
redirect_from:
    - /apuntes
data: portfolio_fme
bodyclass: portfolio
copyright: '<br/>Icons designed by <a href="https://www.freepik.com">Freepik</a> and <a https://smashicons.com/>Smashicons</a> from <a href="https://www.flaticon.com">Flaticon</a>.'
---

<div id="intro-wrap" data-height="22.222">
  <div id="intro" class="preload darken">
    <div class="intro-item" style="background-image: url(/img/backgrounds/apunts-01.jpg);">
      <div class="caption">
        <h2>Els apunts dels teus somnis</h2>
        <p> <em> ¿Qué es la vida? Un frenesí. ¿Qué es la vida? Una ilusión, una sombra, una ficción; y el
          mayor bien es pequeño: que toda la vida es sueño, y los sueños, sueños son. </em> </p>
      </div>
    </div>
  </div>
</div>
{% include portfolio.html %}
<script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (decodeURIComponent(pair[0]) === variable) {
                return decodeURIComponent(pair[1]);
            }
        }
        console.error('Query variable %s not found', variable);
    }

    window.onload = function selectComponent() {
        var s = getQueryVariable("select");
        if (s) {
            if (s === "pri")
                return $("#select-pri").trigger("click");
            if (s === "seg")
                return $("#select-seg").trigger("click");
            if (s === "ter")
                return $("#select-ter").trigger("click");
            if (s === "qua")
                return $("#select-qua").trigger("click");
        }
        return $("#select-all").trigger("click");
    };
</script>
