---
layout: default
title: Home
bodyclass: page
copyright: '<br/>Avatars designed by <a href="https://www.freepik.com">Freepik</a> from <a href="https://www.flaticon.com">Flaticon</a>.'
---

<div id="intro-wrap" class="full-height">
  <div id="intro" class="preload darken more-button" data-autoplay="6000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
    <div class="intro-item intro-item-image" style="background-image: url(/img/backgrounds/intro-01.jpg);">
      <div class="caption">
        <h2>Una buti?</h2>
        <p>Espases baixades... Contrades!</p>
        <a class="button white transparent" href="#next">Engresca-t'hi</a>
      </div>
      <div class="photocaption">
        <h4>Holii <i class="em em-kissing_heart"></i></h4>
      </div>
    </div>
    <div class="intro-item" style="background-image: url(/img/backgrounds/intro-02.jpg);">
      <div class="caption">
        <h2>Socialisme o <strong>barbàrie</strong></h2>
        <p>QVEF la Terra és plana.</p>
        <a class="button white transparent" href="#next">Engresca-t'hi</a>
      </div>
      <div class="photocaption">
        <h4>Creat per <a href="https://twitter.com/maltorres">Miguel Maldonado</a></h4>
      </div>
    </div>
    <div class="intro-item" style="background-image: url(/img/backgrounds/intro-03.jpg);">
      <div class="caption">
        <h2>Yaaaasssssss</h2>
        <p>doncs això...</p>
        <a class="button white transparent" href="#next">Engresca-t'hi</a>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <section id="next" class="row section call-to-action">
    <div class="row-content buffer even">
      <p>Vols veure els apunts?</p>
      <a class="button purple" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">¡Click aquí!</a>
    </div>
  </section>

  <section id="servicios" class="row section">
    <div class="row-content buffer even clear-after">
      <div class="column four">
        <div class="small-icon purple"><i class="icon icon-paperfly"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Enduu-te'ls on vulguis</h4>
          <p class="text-xs"><strong>¡Que no et frenin els teus apunts!</strong> Ara pots gaudir dels teus apunts onsevulga que vagis.</p>
        </div>
      </div>
      <div class="column four">
        <div class="small-icon purple"><i class="icon icon-clock"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Sempre disponibles</h4>
          <p class="text-xs">Ara pots descarregar els teus apunts preferits els 365,25 dies de l'any (sí, pels <i> mil·lennials </i>, significa 24/7).</p>
        </div>
      </div>
      <div class="column four last">
        <div class="small-icon purple"><i class="icon icon-pencil"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Deixa el llapis a casa</h4>
          <p class="text-xs"> Ja no hauràs de gastar paper i llapis, amb aquests apunts tindràs tot el que necessites.</p>
        </div>
      </div>
      <div class="column four">
        <div class="small-icon purple"><i class="icon icon-tablet"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Multiplataforma</h4>
          <p class="text-xs">Gràcies a la <strong>meravellosa</strong> web, ara podràs gaudir dels teus apunts al teu mòbil o a la teva tablet.</p>
        </div>
      </div>
      <div class="column four">
        <div class="small-icon purple"><i class="icon icon-diamond"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Donatius</h4>
          <p class="text-xs">Sí. Acceptem regals pel nostre ardu i fatigant treball de passar apunts (sobretot preferim aquells amb 5 jotes).</p>
        </div>
      </div>
      <div class="column four last">
        <div class="small-icon purple"><i class="icon icon-camera"></i></div>
        <div class="small-icon-text clear-after">
          <h4>Segueix-nos a Instagram</h4>
          <p class="text-xs">És broma, no tenim Instagram, no estem tan bojos com els penjats de <a href="https://www.instagram.com/fidelssalacfis/"><i>@fidelssalacfis</i></a>.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row section">
    <div class="row-content buffer even clear-after">
      <div class="section-title"><h3>Estadístiques</h3></div>
      <p class="centertxt">No us espanteu, seguim sent matemàtics <i class="em em-wink"></i>.</p>
      <div class="chart" data-percent="64" data-bar-color="#f59090" data-animate="2500">
        <div class="chart-content">
          <div class="percent"></div>
          <div class="chart-title">PDFs<br/>actualitzats</div>
        </div>
      </div>
      <div class="chart" data-percent="71" data-bar-color="#ca7bd2" data-animate="3000">
        <div class="chart-content">
          <div class="percent"></div>
          <div class="chart-title">Cincs gràcies a<br/>ApuntsFME</div>
        </div>
      </div>
      <div class="chart" data-percent="85" data-bar-color="#7b9ad2" data-animate="3500">
        <div class="chart-content">
          <div class="percent"></div>
          <div class="chart-title">Hores <br/>al CFIS</div>
        </div>
      </div>
      <div class="chart" data-percent="95" data-bar-color="#70d0d3" data-animate="4000">
        <div class="chart-content">
          <div class="percent"></div>
          <div class="chart-title">Usufructuaris<br/>satisfets</div>
        </div>
      </div>
    </div>
  </section>

  <section class="row section text-light" style="background-color:#76bfc1;">
    <div class="row-content buffer even clear-after">
      <div class="section-title"><h3>Testimoniatges</h3></div>
      <div class="testimonial-slider" data-autoplay="6000" data-pagination="true" data-transition="fade" data-autoheight="false">
        <div class="quote">
          <div class="column two">
            <figure class="testimonial-img">
              <img src="/img/quotes/capsdou.svg" alt="">
            </figure>
          </div>
          <div class="column ten last">
            <p>"M'encanta la idea! Com no ho havia pensat ningú abans? Moltes gràcies, és un projecte engrescador. Compteu amb mi! <i class="em em-smiley"></i>"</p>
            <div class="author">Usufructuari d'ApuntsFME, Capsdou<i class="em em-ok_woman"></i><i class="em em-egg"></i></div>
          </div>
        </div>
        <div class="quote">
          <div class="column two">
            <figure class="testimonial-img">
              <img src="/img/quotes/fuente_equipo.svg" alt="">
            </figure>
          </div>
          <div class="column ten last">
            <p>"Ajuntem allò vist a classe amb els apunts del professor per portar-vos la <strong>millor</strong> experiència de consum."</p>
            <div class="author">Fonts de l'equip de desenvolupament d'ApuntsFME</div>
          </div>
        </div>
        <div class="quote">
          <div class="column two">
            <figure class="testimonial-img">
              <img src="/img/quotes/professor.svg" alt="">
            </figure>
          </div>
          <div class="column ten last">
            <p>"Els continguts de teoria estan ben recollits als apunts d'ApuntsFME, que també he penjat a Atenea."</p>
            <div class="author">Cert professor</div>
          </div>
        </div>
        <div class="quote">
          <div class="column two">
            <figure class="testimonial-img">
              <img src="/img/quotes/equipo_web.svg" alt="">
            </figure>
          </div>
          <div class="column ten last">
            <p>"Holiii, ens falta una cita! Contacta amb nosaltres si tens alguna idea (o vols fer uns LaTeX)."</p>
            <div class="author">Els qui fan el web i es queden sense idees</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row section">
    <div class="row-content buffer even clear-after">
      <div class="column three">
        <div class="count-item">
          <div class="small-icon purple"><i class="icon icon-crown"></i></div>
          <div class="count-number" data-from="0" data-to="326" data-speed="2000" data-refresh-interval="25"></div>
          <div class="count-subject">Persones que no saben per què serveix aquesta icona</div>
        </div>
      </div>
      <div class="column three">
        <div class="count-item">
          <div class="small-icon purple"><i class="icon icon-graph"></i></div>
          <div class="count-number" data-from="0" data-to="6401" data-speed="2500" data-refresh-interval="25"></div>
          <div class="count-subject">Nombre de visites d'avui</div>
        </div>
      </div>
      <div class="column three">
        <div class="count-item">
          <div class="small-icon purple"><i class="icon icon-download"></i></div>
          <div class="count-number" data-from="0" data-to="25701" data-speed="3000" data-refresh-interval="25"></div>
          <div class="count-subject">Baixades d'apunts</div>
        </div>
      </div>
      <div class="column three last">
        <div class="count-item">
          <div class="small-icon purple"><i class="icon icon-multiview"></i></div>
          <div class="count-number" data-from="850" data-to="8" data-speed="3500" data-refresh-interval="25"></div>
          <div class="count-subject">Nombre d'assignatures</div>
        </div>
      </div>
    </div>
  </section>
</div>
