---
layout: default
title: Qui som
redirect_from:
    - /quienessomos
bag_id: members
bodyclass: page
copyright: '<br/>Avatars designed by <a href="https://www.freepik.com">Freepik</a> from <a href="https://www.flaticon.com">Flaticon</a>.'
---

<div id="intro-wrap" data-height="22.222">
  <div id="intro" class="preload darken">
    <div class="intro-item" style="background-image: url(/img/backgrounds/quisom.svg);">
      <div class="caption">
        <h2 class="select-green">En equip, tot és possible</h2>
        <p class="select-green">La nostra fortalesa són les nostres diferències, no les nostres similituds.</p>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <section class="row section">
    <div class="row-content buffer even clear-after">
      <div class="timeline-label column five">
        <h4>Un per a tots i tots per a un</h4>
        <p>Amb l'objectiu de millorar la vida dels estudiants, l'equip d'ApuntsFME sempre ha apostat per col·laborar i donar-ho tot per aconseguir el millor resultat posssible. A la seu del projecte sempre es respira un ambient proper i d'ajuda mútua, garantint que els col·laboradors es trobin sempre a gust i involucrats.
        </p>
        <div style="text-align: center;">
          <a class="button purple transparent" href="#next">L'equip d'ApuntsFME</a>
        </div>
      </div>
      <div class="timeline column seven last">
        <div class="year">
          <time datetime="2018">2018</time>
          <div class="experience">
            <span class="circle"></span>
            <div class="experience-img"><img src="/img/history/cc.svg" alt=""></div>
            <div class="experience-info clear-after">
              <h5>Llicències</h5>
              <div class="role">Juny 2018</div>
              <p>Per primera vegada, els documents d'ApuntsFME disposen d'una llicència que permet als usufructuaris distribuir els apunts lliurement i fer-ne derivats.</p>
            </div>
          </div>
          <div class="experience">
            <span class="circle"></span>
            <div class="small-icon black"><i class="icon icon-brush"></i></div>
            <div class="experience-info clear-after">
              <h5>Normes d'estil</h5>
              <div class="role">Febrer 2018</div>
              <p>Es convoquen reunions setmanals per crear unes normes d'estil dels documents a LaTeX. S'estableixen uns criteris de qualitat. </p>
            </div>
          </div>
        </div>
        <div class="year">
          <time datetime="2017">2017</time>
          <div class="experience">
            <span class="circle"></span>
            <div class="experience-img"><img src="/img/history/apuntsfme.svg" alt=""></div>
            <div class="experience-info clear-after">
              <h5>Creació d'ApuntsFME</h5>
              <div class="role">Desembre 2017</div>
              <p> Davant la creació d'apunts i formularis per a més assignatures, sorgeix la necessitat d'una "entitat col·lectiva". Es crea ApuntsFME i el web per a fer els apunts més accessibles a tots els estudiants. </p>
            </div>
          </div>
          <div class="experience">
            <span class="circle"></span>
            <div class="small-icon black"><i class="icon icon-megaphone"></i></div>
            <div class="experience-info clear-after">
              <h5>Difusió per la facultat</h5>
              <div class="role">Novembre 2017</div>
              <p> Donada l'"aproximació" dels parcials, es comença a difondre l'existència dels apunts. </p>
            </div>
          </div>
          <div class="experience">
            <span class="circle"></span>
            <div class="experience-img"><img src="/img/history/latex.svg" alt=""></div>
            <div class="experience-info clear-after">
              <h5>Primer document a LaTeX</h5>
              <div class="role">Octubre 2017</div>
              <p> Iniciativa per crear uns apunts fets a LaTeX, comença la redacció del primer document i l'equip de col·laboradors s'expandeix. </p>
            </div>
          </div>
          <div class="experience">
            <span class="circle"></span>
            <div class="experience-img"><img src="/img/history/github.svg" alt=""></div>
            <div class="experience-info clear-after">
              <h5>Un nou projecte</h5>
              <div class="role">Setembre 2017</div>
              <p>Voluntat d'ajuntar a un mateix lloc apunts escanejats de diferents assignatures, es crea un repositori de Github. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row section" id="next">
    <div class="row-content buffer even clear-after">
      <div class="section-title">
        <h3>L'equip d'ApuntsFME</h3>
      </div>
      {%- for person in site.data.members %}
      {%- capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {%- if forloop.index != 1 %}<br /><br />{% endif %}
      <div class="column one"></div>
      {%- if thecycle == 'odd' %}
      <div class="column four centertxt">
        <figure style="margin-top: 0.5em;" class="about-us">
          <center><img style="max-width: 200px;" src="/img/team/{{ person.id }}.svg" alt=""></center>
          <figcaption>
            <h4>{{ person.name }}</h4>
            <p>{{ person.position }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="column six last">
        <h3 style="margin-top: 0em;">{{ person.description_title }}</h3>
        <p>{{ person.first_paragraph }}</p>
        <p>{{ person.second_paragraph }}</p>
      </div>
      {%- endif %}
      {%- if thecycle == 'even' %}
      <div class="column six">
        <h3 style="margin-top: 0em; text-align: right;">{{ person.description_title }}</h3>
        <p style="text-align: right;">{{ person.first_paragraph }}</p>
        <p style="text-align: right;">{{ person.second_paragraph }}</p>
      </div>
      <div class="column four centertxt last">
        <figure style="margin-top: 0.5em;" class="about-us">
          <center><img style="max-width: 200px;" src="/img/team/{{ person.id }}.svg" alt=""></center>
          <figcaption>
            <h4>{{ person.name }}</h4>
            <p>{{ person.position }}</p>
          </figcaption>
        </figure>
      </div>
      {%- endif %}
      {%- endfor %}
    </div>
  </section>
</div>
