---
layout: default
title: Serveis
redirect_from:
    - /servicios
bodyclass: page
---

<div id="intro-wrap" class="full-height">
  <div id="intro" class="preload darken more-button" data-autoplay="6000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
    <div class="intro-item" style="background-image: url(/img/backgrounds/serveis-01.jpg);">
      <div class="caption">
        <h2>Serveis, al fons a l'esquerra</h2>
        <p>Gaudiu <i class="em em-wink"></i></p>
      </div>
    </div>
  </div>
</div>
