---
layout: default
title: Uneixte al projecte
redirect_from:
    - /unete
bodyclass: page
addbeforeheader: '<div id="errDiv" style="display: none; text-align: center; padding: 0px; margin: 0px; position: absolute; height: 100%; width: 100%; background-color: red;">
  <h1 id="error" style="color:black; paddding: 0px; margin: 0px; position: relative; top: 50%; transform: translateY(-50%); font-size: 800%">ERROR!</h1>
</div>'
---

<div id="intro-wrap" data-height="22.222">
  <div id="intro" class="preload darken">
    <div class="intro-item" style="background-image: url(/img/backgrounds/uneixte-01.jpg);">
      <div class="caption">
        <h2>Forma part d'ApuntsFME</h2>
        <p>Omple el formulari perquè ens posem en contacte amb tu per començar els tràmits. És fàcil, ràpid i gratuït. </p>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <section class="row section">
    <div class="row-content buffer even clear-after">
      <div class="section-title"><h3>Omple el formulari</h3></div>
      <p>Ens agrada saber que hi ha gent com tu, disposada a col·laborar i a ajudar als seus companys de classe passant apunts. Per això, et volem transmetre un missatge
      de pau i calma. És possible que el domini del LaTeX no sigui el teu fort, però tranquil, la resta de professionals de l'equip seran al teu costat i et donaran la mà (de la botifarra, és clar). <p>
      <div class="column nine">
        <form id="contact-form" class="contact-section" method="post" action="">
          <span class="pre-input"><i class="far fa-user"></i></span>
          <input id="name" class="name plain buffer" type="text" name="name" placeholder="Nom i cognoms">
          <span class="pre-input"><i class="far fa-envelope"></i></span>
          <input id="mail" class="email plain buffer" type="email" name="email" placeholder="Direcció d'email">
          <span class="pre-input"><i class="fab fa-gitlab"></i></span>
          <input id="gitlab" class="name plain buffer" type="text" name="gitlab" placeholder="Nom d'usuari de GitLab"></input>
          <input id="send" class="plain button purple" type="button" value="Enviar" onclick="troll_form()">
        </form>
        <div id="success"></div>
        <div id="troll"></div>
      </div>
      <div class="column three last">
        <div class="widget">
          <h4 style="color: #AB94E9;">Si tens més temps lliure...</h4>
          <p>
            Adoctrina't una mica (gratis i per a tota la família). Llegeix el Loose Canon! Fes click <a href="https://www.loose-canon.info/Loose-Canon-1st-Ed.pdf"><i>aquí</i></a>.
          </p>
        </div>
        <div class="widget">
          <h4 style="color: #AB94E9;">Contacta'ns a les xarxes</h4>
          <ul class="inline meta-social">
            <li><a onclick="trollMsg();" class="twitter-share border-box troll"><i class="fab fa-twitter fa-lg"></i></a></li>
            <li><a onclick="trollMsg();" class="facebook-share border-box"><i class="fab fa-facebook-f fa-lg troll"></i></a></li>
            <li><a onclick="trollMsg();" class="pinterest-share border-box"><i class="fab fa-pinterest-p fa-lg troll"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <button style="display: none;" onclick="destroy()" id="trigger">BON EASTER EGG HAS TROBAT</button>
</div>

<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function troll_form() {
        var name = document.getElementById('name').value;
        var mail = document.getElementById('mail').value;
        var gitlab = document.getElementById('gitlab').value;
        var suc = document.getElementById('success');
        suc.innerHTML = '';

        setTimeout(function() {
            if (name.length == 0)
                suc.innerHTML = '<p style="color:#F84B3C;">Ups! T\'has oblidat d\'omplir el nom</p>';
            else if (name.length == 0)
                suc.innerHTML = '<p style="color:#F84B3C;">Ups! T\'has oblidat d\'omplir el nom</p>';
            else if (!validateEmail(mail))
                suc.innerHTML = '<p style="color:#F84B3C;">Segur que ho pots fer millor, prova amb un email de veritat.</p>';
            else if (gitlab.length == "")
                suc.innerHTML = '<p style="color:#F84B3C;">Ups! T\'has oblidat d\'omplir l\'usuari de GitLab.</p>';
            else if (gitlab.length < 5)
                suc.innerHTML = '<p style="color:#F84B3C;">"' + gitlab + '" de veritat? Que tan tontos no som, per favor.</p>';
            else {
                troll();
        }}, 100);
    }

    // #AB94E9
    function troll() {
        var ESPERA = 5000;

        var send = document.getElementById('send').style.display = 'none';
        var suc = document.getElementById('success');
        suc.style.color = '#6A4BBC';
        suc.style.fontWeight = 'bold';
        suc.innerHTML = 'Enviant...';
        var puntitos = setInterval(function() {
            if (suc.innerHTML.endsWith('...'))
                suc.innerHTML = 'Enviant';
            else
                suc.innerHTML += '.';
        }, 500);

        var trol = document.getElementById('troll');
        trol.style.color = '#6A4BBC';
        setTimeout(function() {
            trol.innerHTML = 'Això triga molt...';
            setTimeout(function() {
                trol.innerHTML = 'Has adjuntat algun arxiu que pesi massa?';
                setTimeout(function() {
                    trol.innerHTML = 'A veure, intentaré enviar-ho al servidor nord-coreà.';
                    setTimeout(function() {
                        trol.innerHTML = 'Tampoc funciona, contactaré amb el servei tècnic (MIQUEEL!)';
                        setTimeout(function() {
                            trol.innerHTML = 'Està reiniciant el mòvil, un segon';
                            setTimeout(function() {
                                trol.innerHTML = 'El mòbil no li funciona, provaré d\'arreglar-ho jo...';
                                clearInterval(puntitos);
                                destroy();
                            }, ESPERA);
                        }, ESPERA);
                    }, ESPERA);
                }, ESPERA);
            }, ESPERA);
        }, ESPERA);

    }

    function destroy() {
        var ESPERA = 3000;
        var trol = document.getElementById('troll');
        setTimeout(function() {
            document.getElementsByTagName('footer')[0].innerHTML = '';
            trol.innerHTML = 'Espera, no era així. Espera un moment que ho torno a posar bé...';
            setTimeout(function() {
                document.getElementsByTagName('header')[0].innerHTML = '';
                trol.innerHTML = 'Ui, ui, tranquil que ara ho soluciono';
                setTimeout(function() {
                    document.getElementById('intro-wrap').innerHTML = '';
                    trol.innerHTML = 'Mare meva, ho estic empitjorant, faig Ctrl+Z i ho arreglo...'
                    setTimeout(function() {
                        document.getElementsByTagName('main')[0].innerHTML = '';
                        window.scrollTo(0,0);
                        var err = document.getElementById('error');
                        var errDiv = document.getElementById('errDiv');
                        errDiv.style.display = 'inline';
                        document.body.style.overflow = 'hidden';
                        setInterval(function() {
                            if (err.style.color == 'red') {
                                err.style.color = 'black';
                                errDiv.style.backgroundColor = 'red';
                            } else {
                                err.style.color = 'red';
                                errDiv.style.backgroundColor = 'black';
                            }
                        }, 500);
                        setTimeout(function() {
                            alert('Hmm, tranquil, tot sota control. Reiniciaré la pàgina (que això sempre funciona).\n\n\tNomés un petit detall, es perdran els canvis del formulari, però a aquestes alçades no sé si t\'hauria d\'importar massa...');
                            if (!confirm('Bé, això és per un tema legal...\n\n\tApuntsFME no es fa responsable dels virus, troians o malware en general que puguin ocasionar els errors de la web, tant aquells deguts a un error informàtic com als deguts a un error humà.\n\n\t A causa de l\'error que acaba de passar, ApuntsFME ha perdut el control de les seves dades i no es fa responsable del fet que puguin acabar a empreses o individus externs a l\'organització.\n\n Està vosté d\'acord amb els termes establerts previament?')) {
                            alert('D\'acord, he parlat amb els advocats d\'ApuntsFME i han elaborat una resposta oficial:\n\n\tUps, que puta pena, no?');
                            }
                            location.reload();
                        }, 3000);
                    }, ESPERA);
                }, ESPERA);
            }, ESPERA);
        }, ESPERA);
    }
</script>
