<footer role="contentinfo">
  <div class="row">
    <div class="row-content buffer clear-after">
      <section id="top-footer">
        <div class="widget column four">
          <h4>Menú</h4>
          <ul class="plain">
            {%- for item in site.data.nav.toc %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {%- endfor %}
          </ul>
        </div>
        <div class="widget column four">
          <h4>Avorrit?</h4>
          <p>Ho deus estar si estàs llegint això... Per què no passes uns apunts a LaTeX? <i class="em em-wink"></i>.</p>
          <h4>Llicència</h4>
          <p>Aquesta obra es troba sota una <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">llicència de Creative Commons Reconeixement-CompartirIgual 4.0 Internacional</a>.</p>
        </div>
        <div class="widget meta-social column four last">
          <h4>Segueix-nos</h4>
          <ul class="inline">
            <li><a onclick="trollMsg();" class="mastodon-share border-box troll"><i class="fab fa-mastodon fa-lg"></i></a></li>
            <li><a onclick="trollMsg();" class="twitter-share border-box troll"><i class="fab fa-twitter fa-lg"></i></a></li>
            <li><a onclick="trollMsg();" class="facebook-share border-box troll"><i class="fab fa-facebook-f fa-lg"></i></a></li>
          </ul>
        </div>
      </section>
      <section id="bottom-footer">
        <p class="keep-left">Theme by <a href="https://mokaine.com/" alt="Mokaine Lab">Mokaine</a>.{{ page.copyright }}</p>
        <p class="keep-right">{% if page.copyright %}<br/>{% endif %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. (Ho has llegit sencer?)</p>
      </section>
    </div>
  </div>
</footer>
