<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="The Page Description">
  <style type="text/css">@-ms-viewport{width: device-width;}</style>
  <title>{% if page.title != 'Home' %}{{ page.title }} - {% endif %}ApuntsFME</title>
  <link rel="stylesheet" href="/css/layers.min.css" media="screen">
  <link rel="stylesheet" href="/css/docs.min.css" media="screen">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <link rel="stylesheet" href="/style.css" media="screen">
  <link rel="stylesheet" href="/css/custom_style.css" media="screen">
  <link href='/css/fonts.css' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png?v=6">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=6">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png?v=6">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=6">
  <link rel="manifest" href="/img/icons/site.webmanifest?v=6">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg?v=6" color="#8674b6">
  <link rel="shortcut icon" href="/img/icons/favicon.ico?v=6">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png?v=6">
  <meta name="msapplication-config" content="/img/icons/browserconfig.xml?v=6">
  <meta name="theme-color" content="#fbfbfb">
  
  <link href="/css/emoji.min.css" rel="stylesheet">
  {{ page.addtohead }}
</head>
