<header role="banner" class="transparent light">
  <div class="row">
    <div class="nav-inner row-content buffer-left buffer-right even clear-after">
      <div id="brand">
        <h1 class="reset"><a href="/">ApuntsFME</a></h1>
      </div>
      <a id="menu-toggle" href="#"><i class="fas fa-bars fa-lg"></i></a>
      <nav>
        <ul class="reset" role="navigation">
          {%- for item in site.data.nav.toc %}
          {%- if item.title != "ApuntsFIB" %}
          <li class="menu-item">
            <a href="{{ item.url }}">{{ item.title }}</a>
            {%- if item.subitems[0] %}
            <ul class="sub-menu">
              {%- for subitem in item.subitems %}
              <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
              {%- endfor %}
              {%- if item.title == "Apunts" %}
              <li style="text-transform: none;"><a href="/apuntsfib/">ApuntsFIB</a></li>
              {%- endif %}
            </ul>
            {%- endif %}
          </li>
          {%- endif %}
          {%- endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
