<div id="main" class="row">
  <div class="row-content buffer clear-after">
    <ul class="inline cats filter-options">
      {%- for filter in site.data[page.data].filters %}
      <li {% if filter.id %}id="{{ filter.id }}" {% endif %}data-group="{{ filter.group }}">{{ filter.name }}</li>
      {%- endfor %}
    </ul>
    <div class="grid-items portfolio-section preload">
      {%- for doc in site.data[page.data].documents %}
      <article class="item column four" data-groups='["todos", "{{ doc.tag }}"]'>
        {% assign doctype = site.data.document_types | where:"id", doc.type | first %}
        <figure><img src="/img/documents/{{ doc.type }}.svg" alt=""><div class="caption" style="color: {{ doctype.bg_color }}; -webkit-text-stroke-color: {{ doctype.bg_color }};">{{ doc.acronym }}</div></figure>
        <a class="overlay" href="{{ doc.url }}">
          <div class="overlay-content">
            <img style="margin-left: auto; margin-right: auto; width: 15%;" src="/img/documents/{{ doc.type }}_contorn.svg" class="post-type" alt="">
            <h2>{{ doc.title }}</h2>
            <p>{{ doc.subtitle }}</p>
          </div>
        </a>
      </article>
      {%- endfor %}
      <div class="shuffle-sizer four"></div>
    </div>
  </div>
</div>
