/* Texts sobre imatge */

.portfolio-section figure .caption {
    position: absolute;
    color: #fff;
    left: 0;
    top: 62%;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    z-index: 0
}

.portfolio-section figure img {
    position: relative;
}

.portfolio-section figure {
    position: relative;
} 
