<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class={{ page.bodyclass }}>
  {{ page.addbeforeheader }}
  {% include header.html %}
  <main role="main">
  {{ content }}
  </main>
  {% include footer.html %}
  </body>
  {% include scripts.html %}
</html>
